body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body::-webkit-scrollbar {
  display: none;
}

li,
ul,
ol {
  list-style: none;
}

main {
  width: 80%;
  margin: 5% auto;
}
#backgroundImg {
  position: absolute;
  width: 100vw;
  height: 103vh;
  background: url(../image/background.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0;
  animation: opacity-image 1s 2.5s ease-in both;
  z-index: -1;
  padding: 0;
}

#main__main h3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.2em;
  margin: 0;
  animation: slideup 2s linear;
  animation-fill-mode: both;
}

#main__main::before {
  content: "";
  background-color: #c9c9c9;
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  animation: overlay 1s 2s ease-in-out both;
}

@keyframes overlay {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    /*right: 0;*/
    left: 100%;
  }
}

@keyframes slideup {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  20% {
    opacity: 1;
    margin-top: 0;
  }
  80% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.team__logo {
  transform: scale(0.5); /* 처음에는 보이지 않도록 크기를 0으로 설정 */
  opacity: 0;
  animation: expandAndRoll 5s 3s ease-in forwards;
}

@keyframes expandAndRoll {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  75% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) translateX(-800px) rotate(-360deg);
    opacity: 1;
  }
}

.team__logo > img {
  position: relative;
  width: 50%;
  margin: 0% 25% 0% 25%;
}

.main__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 26%;
  right: -40%;
  top: 38%;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.7);
  margin: 0px 0px 5% 0px;
  text-align: center;
  border-radius: 30px;
  animation: slider 2s 6s ease-in forwards;
}

.main__info h2 {
  margin-bottom: 20px;
}
.main__info div {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(3, 45px);
  justify-content: center;
  align-items: center;
}

@keyframes slider {
  0% {
  }
  100% {
    right: 10%;
  }
}

/* nav {
      font-size: 460%;
      font-family: "Rammetto One", serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      color: rgb(139, 47, 47);
      width: 100%;
      height: fit-content;
      margin: 0px 0px 0px 0px;
  } */
