body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li,ul,ol {
    list-style: none;
}

main {
    display: flex;
    width: 80%;
    margin: 0px auto 0px auto;
}

main>p {
    height: fit-content;
    width: 30%;
    margin: auto 15% auto 5%;
    font-family: "Rammetto One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    color: lightcoral;
}

nav {
    font-size: xx-large;
    font-family: "Rammetto One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 60%;
}

main > img {
    margin: 0% 5% 0% 15%;
    width: 30%;
}

footer {
    height: fit-content;
    width: 100%;
    margin: 0px auto 0px 25%;
}