@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: none;
  background: url(../image/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
li,
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: none;
}

header {
  text-align: center;
  width: 1400px;
  font-family: "Rammetto One", serif;
  color: lightcoral;
}
header h1 {
  font-size: 3rem;
}

#cursor {
  position: absolute;
  z-index: 999;
}
#cursor > img {
  width: 50px;
}

/* 구분선 */
.division {
  border-top: 1px solid #d7d7d7;
  margin: 30px auto;
}

.division::after {
  content: "◆";
  position: relative;
  top: -13px;
}

/** 멤버 섹션 */

/** 멤버카드 메인 */
.section__main {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1400px;
  height: 300px;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 40%);
  margin-bottom: 30px;
  transition: box-shadow 0.3s ease;
  background-color: #ffffff95;
}

.section__main:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 멤버 설명 */
.section__desc {
  position: relative;
  margin: 30px;
  width: 70%;
}

.section__head {
  display: flex;
  vertical-align: bottom;
  align-items: baseline;
  margin-bottom: 30px;
}
.section__head h1,
h4 {
  margin: 0;
  padding: 0;
}
.section__head h1 {
  margin-left: 45px;
  font-size: 2.5rem;
}

.section__head h4 {
  margin-left: 20px;
  vertical-align: bottom;
  color: rgb(106, 106, 106);
}

.section__desc p {
  padding: 0px 60px;
  text-align: left;
  line-height: 2.2rem;
}

.section__more {
  display: flex;
  flex-direction: row;
  display: inline-block;
  width: 180px;
  height: 35px;
  position: absolute;
  right: 311px;
  bottom: 31px;
  font-size: 1.3rem;
  border-radius: 15px;
  text-align: center;
  line-height: 34px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /* cursor: pointer; */
  transition: transform 0.3s ease;
  z-index: 1;
}
.flower {
  position: absolute;
  right: 60px;
  bottom: 0px;
  width: 60px;
  /* border: 1px solid #000; */
  z-index: -1;
  transform: translateY(0px) rotate(0deg);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.section__more p {
  transition: transform 0.3s ease;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.section__more span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.section__more:hover {
  background-color: #eeeeeea2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.section__more:hover .flower {
  transform: translateY(-30px) rotate(30deg);
  opacity: 1;
}

.section__more:hover p {
  transform: scale(1.1);
}

.section__more:hover span {
  transform: translateX(10px);
}

/* 멤버 정보 */
.section__info {
  display: flex;
  flex-direction: column;
  background-color: #f2f4ff60;
  width: 17%;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section__img {
  margin: 20px auto;
  width: 57%;
  border-radius: 50%;
  height: 80%;
  overflow: hidden;
}
.section__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 깃헙 벨로그 티스토리 주소 */
.section__link {
  display: flex;
  flex-direction: row;
  width: 140px;
  height: 15%;
  margin: 20px auto;
  margin-top: 0px;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 15px;
  /* border: 1px solid #000; */
}

.section__link a {
  width: 25%;
}
.section__link img {
  width: 100%;
  height: 100%;
}

.section__link img:hover {
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
